body{
    background-color: black;   
    margin: 0%;
}
#particles-js{
     z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.indexboxes{
    flex-wrap: wrap;
    display: flex;
    margin-top: 3%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ibox1{
    font-size: 5vh;
    padding-left: 3vw;
    padding-right: 2vw;
    margin-bottom: 5%;
    background-color: #31FFAF;
    width: 45vw;
}
.box1-2{
    height: 40%;
    display: flex;
}
.ibox2{
    width: 45%;   
    flex-wrap: wrap;
    display: flex;
}
.ibox2 img{
    flex-wrap: wrap;
    display: flex;
    width: 30vw;
    margin-left: 6.3vw;
    margin-bottom:10% ;
}
.ibox3{
    font-size: 4vh;
    padding-left: 3vw;
    padding-right: 2vw;
    margin-bottom: 5%;
    background-color: #31FFAF;
    width: 45vw;

}
.box3-4{
display: flex;
height: 40%;
}
.ibox4{
    width: 45%;
    flex-wrap: wrap;
    display: flex;
}
.ibox4 img{
    margin-bottom:10% ;
    flex-wrap: wrap;
    display: flex;
    width: 30vw;
    margin-left: 6.3vw;
}
.ibox5{
    width: 45vw;
    font-size: 3vh;
    padding-left: 3vw;
    padding-right: 2vw;
    margin-bottom: 5%;
    background-color: #31FFAF;
    width: 45vw;
}
.box5-6{
    display: flex;
    height: 40%;
}
.ibox6{
    width: 45%;   
    flex-wrap: wrap;
    display: flex;
}
.ibox6 img{
    margin-bottom:10% ;
    flex-wrap: wrap;
    display: flex;
    width: 30vw;
    margin-left: 6.3vw;
}
.englishboxes{
    flex-wrap: wrap;
    display: flex;
    margin-top: 3%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.egbox1{
    padding-top: 1%;
    font-size: 3vh;
    padding-left: 3%;
    padding-right: 2%;
    margin-bottom: 5%;
    background-color: #31FFAF;
    width: 45%;
}
.eg1-2{
    display: flex;
    height: 40%;
}
.egbox2{
    width: 45%;   
    flex-wrap: wrap;
    display: flex;
}
.egbox2 img{
    flex-wrap: wrap;
    display: flex;
    width: 45%;
    margin-left: 6.3vw;
}
.header1{
    color: #46f9b4;
    background-image: url(/images/hero1.jpg);
    text-align: center;
    padding: 15%;
    background-position: center;
    background-size: cover;
    font-size: 5vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: #7C5EB5 10px 10px 25px;
}
.otherboxes{
    margin-top: 3%;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #46f9b4;
}
.pick{
    background-color: #4A50AB;
    font-size: 3vh;
    width: 25%;
}
.toggle{
    background-color: #4A50AB;
    font-size: 3vh;
    width: 25%;
}
.End{
    background-color: #4A50AB;
    width: 25%;
}
.End:hover{
    background-color: #575ec1;
}
.End a{
    color: #46f9b4;
    text-decoration: none;
    font-size: 3vh;
    text-align: center;
}
.doors{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.doors img{
    border: #46f9b4 solid 5px;
    width: 13vw;
    height: 50vh;
}
.all{
    width: 87.5%;
    margin-left: 6.25%;
}
footer{
    background-color: #4A50AB;
    padding-bottom: 2%;
    margin-top: 2%;
    color: #46f9b4;
    font-size: 2vh;
}